chatGPTAccountPool:
  - email: zhengyaonine@outlook.com
    password: 94364926.99
    isGoogleLogin: false
chatPrivateTiggerKeyword: ""
openAIProxy: "https://qingyun.io/api/v1/client/subscribe?token=c44686ce6f4570b893f7291de1fba784"
